@charset "utf-8";

@font-face {
	font-family: serif;
	font-weight: normal;
	font-style: normal;
}

body {
	font-size: 100%;
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #3a3a3a;
}

.body {
	width: 800px;
	margin: 0 auto;
	display: block;
	font-family: verdana;
	border: 1px solid #C3C4C2;
	border-radius: 5px;
}

h1 {
	width: 750px;
	color: #9E9E9E;
	letter-spacing: 1px;
	font-size: 16px;
	margin: 0 auto;
	margin-top: 15px;
	
}

#campos {
	width: 750px;
	height: 100px;
	margin: 0 auto;
	background-color: #EEEEEE;
	border: 1px solid #C3C4C2;
	border-radius: 5px;
	margin-bottom: 10px;
}


#senha {
	margin-top: 20px;
}
#senha, #pontuacaoBorda{
	margin-left: 8%;
}

#pontuacaoBorda, #complexidadeBorda{
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	height: 22px;
	margin-bottom: 2px;
	position: relative;
	float:left;
	margin-top: 5px;
	text-align: center;
}

#pontuacaoBorda{
	background: #9E9E9E;
	width: 50px;
}

#pontuacao, #complexidade{
	color: white;
	font-weight: bold;
	font-family: cursive;

	margin-left: 1%;
}
#barraDePontuacao, #barraDeComplexidade{
	background-position: 0 0;
}

#barraDePontuacao{
	width: 50px;
}
#complexidadeBorda{
	background: #9E9E9E;
	width: 100px;
	margin-left: 1%
}

#barraDeComplexidade{
	width: 100px;
}

input {
	width: 300px;
	height: 14px;
	background: white;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #dedede;
	padding: 10px;
	font-size: 0.9em;
	color: #3a3a3a;
	position: relative;
}



input:focus, {
	border: 1px solid #97d6eb;
}
